{% extends 'productos/base.html' %}

{% block content %}
<div class="cont-subtitle">
<h1>Productos</h1>
<a href="{% url 'productos:productos_crear' %}">Crear nuevo producto 📝</a>
</div>
<table style="width: 100%; border-collapse: collapse; text-align: left;" class="s-table">
    <thead style="background-color: #f2f2f2;">
        <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.sku }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.categoria }}</td>
        <td>
            <a href="{% url 'productos:productos_editar' producto.id %}">Editar</a> |
            <form action="{% url 'productos:productos_eliminar' producto.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn-eliminar">Eliminar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}